#!/usr/bin/make -f

export QT_SELECT=5
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND = -Wall
export DEB_CXXFLAGS_MAINT_APPEND = -Wall
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed -Wl,-z,relro -Wl,-z,now -Wl,-z,noexecstack -Wl,-E

DISTRO = $(shell lsb_release -is)
ifeq ($(DISTRO),Deepin)
	USE_DEEPIN_POLKIT=ON
else ifeq ($(DISTRO),uos)
    USE_DEEPIN_POLKIT=ON
else ifeq ($(DISTRO),Uos)
    USE_DEEPIN_POLKIT=ON
else
	USE_DEEPIN_POLKIT=OFF
endif

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- -DUSE_DEEPIN_POLKIT=$(USE_DEEPIN_POLKIT)
